/* scroll bar */
@import 'simplebar-react/dist/simplebar.min.css';

.css-13ddxbb > * + * {
  margin: 0 !important;
}

input[type='number']::-webkit-inner-spin-button {
  margin-left: 5px;
}

input#country {
  width: 50px;
}

.MuiAutocomplete-hasPopupIcon.css-1fk9jpi-MuiAutocomplete-root .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-1fk9jpi-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding-right: 24px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

img.profile-img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

button.btn {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

.expertSlotInfo > .slotTime {
  margin: 0 !important;
}
